# Données (confidentialité — voir data/README.md et 00_documentation/2_description_donnees.md)
data/*.txt
data/*.csv
data/*.xlsx
data/*.xls

# Environnement Python
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Modèles ML sérialisés (trop volumineux pour Git standard)
#*.pkl
#*.joblib

# Fichiers Power BI (binaires volumineux)
*.pbix

# OS / éditeurs
.DS_Store
.vscode/
*.iml
.idea/
